<div class="" style="margin-top: 20px">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="firstname" class="col-xs-2 control-label">角色名称</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="firstname" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-xs-2 control-label">角色描述</label>
            <div class="col-xs-6">
                <textarea type="text" class="form-control" id="lastname" placeholder=""></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-xs-2 control-label">状态</label>
            <div class="col-xs-6">
                <label class="radio-inline">
                    <input type="radio" name="optionsRadiosinline"  value="option1" checked> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadiosinline"  value="option2"> 禁用
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-6">
                <button type="submit" class="btn btn-default" style="color: #fff;background-color: #2C3E50;border-color: #2C3E50;">添加</button>
            </div>
        </div>
    </form>
</div>