<div class="" style="margin-top: 20px">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="firstname" class="col-xs-2 control-label">名称</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="firstname" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-xs-2 control-label">备注</label>
            <div class="col-xs-6">
                <textarea  class="form-control"  style="height: 150px"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-xs-2 control-label">主菜单</label>
            <div class="col-xs-6">
                <input type="checkbox" class="" id="firstname">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-6">
                <button type="submit" class="btn btn-default" style="color: #fff;background-color: #2C3E50;border-color: #2C3E50;">保存</button>
                <button type="submit" class="btn btn-default">返回</button>
            </div>

        </div>
    </form>
</div>