<div class="" style="margin-top: 20px">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="firstname" class="col-xs-2 control-label">上级</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="firstname" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-xs-2 control-label">地址</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="firstname" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-xs-2 control-label">菜单名称</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="firstname" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-xs-2 control-label">打开方式</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="firstname" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-xs-2 control-label">图标</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="firstname" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-xs-2 control-label">显示</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="firstname" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-6">
                <button type="submit" class="btn btn-default" style="color: #fff;background-color: #2C3E50;border-color: #2C3E50;">保存</button>
                <button type="submit" class="btn btn-default">返回</button>
            </div>

        </div>
    </form>
</div>