<div class="" style="margin-top: 20px">
    <button class="btn btn-xs btn-default" style="color: #fff;background-color: #2C3E50;border-color: #2C3E50;">排序</button>
    <table class="table table-bordered" style="margin-top: 10px;">

        <thead>
        <tr>
            <th>排序</th>
            <th>ID</th>
            <th>菜单名称</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tanmay</td>
            <td>1</td>
            <td>首页</td>
            <td>显示</td>
            <td>
                <a href="#">添加子菜单</a>
                <a href="#">编辑</a>
                <a href="#">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

