.adminright{
    width: 100%;
    padding-top: 70px;
    text-align: left;
    height: 100%;
    float: right;
    overflow:auto;
}
.adminright a{
    color:  #18BC9C;
}
.adminright > .col-xs-12 > .nav-tabs > li > a{
    color: #18BC9C;
}

.adminright table  tbody  tr  td{
    text-align: center;
    overflow: hidden;
}

