<div class="" style="margin-top: 20px">

    <table class="table table-bordered">

        <thead>
        <tr>
            <th>ID</th>
            <th>来源</th>
            <th>头像</th>
            <th>绑定账号</th>
            <th>首次登录时间</th>
            <th>最后登录时间</th>
            <th>最后登录IP</th>
            <th>登陆次数</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tanmay</td>
            <td>Bangalore</td>
            <td>560001</td>
            <td>560001</td>
            <td>560001</td>
            <td>560001</td>
            <td>560001</td>
            <td>大厦01</td>
            <td>
                <a href="#">权限设置</a>
                <a href="#">编辑</a>
                <a href="#">删除</a>
            </td>
        </tr>
        <tr>
            <td>Sachin</td>
            <td>Mumbai</td>
            <td>400003</td>
            <td>400003</td>
            <td>400003</td>
            <td>400003</td>
            <td>400003</td>
            <td>400003</td>
            <td>
                <a href="#">权限设置</a>
                <a href="#">编辑</a>
                <a href="#">删除</a>
            </td>
        </tr>
        <tr>
            <td>Uma</td>
            <td>Pune</td>
            <td>411027</td>
            <td>411027</td>
            <td>411027</td>
            <td>411027</td>
            <td>411027</td>
            <td>411027</td>
            <td>
                <a href="#">权限设置</a>
                <a href="#">编辑</a>
                <a href="#">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
