<!DOCTYPE html>
<html lang="en">
{include file="Common:head"}
<body>
<header>
    {include file="Common:header"/}
    {include file="Common:menu"}
</header>
<content class="row">

    <div class="row data-show">
        <div class="row show-content">
            <ol class="breadcrumb">
                <li>主页</li>
                <li>库存管理</li>
                <li>库存查询</li>
            </ol>

            <div id="toolbar" class="btn-group">
                <a href="{:URL('GetUrl/addStock')}" type="button" id="btn_add" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>添加记录
                </a>
                <button type="button" id="btn_del_some" class="btn btn-default" data-toggle="modal" data-target="#del-modal">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>批量删除记录
                </button>
                    &nbsp;
            </div>
            <table class="text-center" id="stocktable" data-toggle="table"></table>

        </div>
        <!--设备详情模态框-->
        <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="infoModaLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 120%;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="infoModaLabel">详情</h4>
                    </div>
                    <form class="form-horizontal " role="form">
                        <div class="modal-body row" id="notesDetailed">

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--批量删除模态框-->
        <div class="modal fade" id="del-modal" tabindex="-1" role="dialog" aria-labelledby="delModaLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 120%;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="delModaLabel">批量删除记录</h4>
                    </div>
                    <form class="form-horizontal " role="form">
                        <div class="modal-body row">
                            <div class="col-xs-offset-1">
                                <span class="" style="border: 0;background: #Fff;"><b>选择时间段</b></span>
                                <input type="text" class="input-sm" name="recordTime" placeholder="选择开始时间" id="recordTime"
                                       data-date-format="yyyy-mm-dd">
                                <span class="glyphicon glyphicon-transfer"></span>
                                <input type="text" class="input-sm" name="recordTime" placeholder="选择结束时间"
                                       id="recordTime2"
                                       data-date-format="yyyy-mm-dd">
                                <button class="btn btn-sm btn-danger" type="button"><span class="glyphicon glyphicon-trash"></span>删除</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>


        <script>
            $('#recordTime').datetimepicker({
                minView: "month",
                language: 'zh-CN',
                todayBtn: 1,
                autoclose: 1
            });
            $('#recordTime2').datetimepicker({
                minView: "month",
                language: 'zh-CN',
                todayBtn: 1,
                autoclose: 1
            });
        </script>
        <script type="text/javascript">

            //初始化bootstrap-table的内容
            function InitMainTable() {
                //记录页面bootstrap-table全局变量$tabel,方便使用
                $('#stocktable').bootstrapTable('destroy');
                $('#stocktable').bootstrapTable({
                    method: "POST",
                    url: "{:Url('Stock/lineList')}",
                    striped: true,  //表格显示条纹
                    pagination: true, //启动分页
                    pageSize: 15,  //每页显示的记录数
                    pageNumber: 1, //当前第几页
                    pageList: [5, 10, 15, 20, 25],  //记录数可选列表
                    search: true,  //是否启用查询
                    searchAlign: 'right',//设置搜索框位置
                    showColumns: true,  //显示下拉框勾选要显示的列
                    showRefresh: true,  //显示刷新按钮
                    paginationPreText: '上一页',
                    paginationNextText: '下一页',
                    paginationDetailHAlign: 'right',
                    paginationHAlign: 'left',
                    uniqueId: "id",
                    sidePagination: "client", //表示服务端请求
                    //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
                    //设置为limit可以获取limit, offset, search, sort, order
                    checkboxHeader: true,
                    toolbar: '#toolbar',
                    showPaginationSwitch: true,
                    sortOrder: 'desc',
                    showToggle: true,
                    queryParamsType: "undefined",
                    columns: [{
                        checkbox: 'true'
                    }, {
                        field: 'operatetime',//这里的名字就是json数据里的键名
                        title: '时间'
                    }, {
                        field: 'typename',
                        title: '类型',
                        editable:{
                            type:'text'
                        }
                    }, {
                        field: 'counts',
                        title: '数量',
                        editable:{
                            type:'text',
                            emptytext:"/",
                            emptyclass:"color:#000"
                        }
                    }, {
                        field: 'company',
                        title: '所属公司',
                        editable:{
                            type:'text',
                            emptytext:"/",
                            emptyclass:"color:#000"
                        }
                    }, {
                        field: 'useaddr',
                        title: '使用位置',
                        editable:{
                            type:'text',
                            emptytext:"/",
                            emptyclass:"color:#000"
                        }
                    }, {
                        field: 'usedevice',
                        title: '使用设备',
                        editable:{
                            type:'text',
                            emptytext:"/",
                            emptyclass:"color:#000"
                        }
                    }, {
                        field: 'linelength',
                        title: '长度',
                        editable:{
                            type:'text',
                            emptytext:"/",
                            emptyclass:"color:#000"
                        }
                    }, {
                        field: 'realname',
                        title: '操作人',
                        editable:{
                            type:'text'
                        }
                    }, {
                        field: 'notes',
                        title: '备注',
                        editable:{
                            type:'textarea',
                            emptytext:"/",
                            emptyclass:"color:#000"
                        }
                    }, {
                        field: 'operation',
                        title: '管理',
                        events: 'operateEvents',//给按钮注册事件
                        formatter: operateFormatter
                    }],
                    onEditableSave: function (field, rowdata, oldValue, $el) {

                        $.ajax({
                            type: "POST",
                            url: "{:Url('Stock/stockEdit')}",
                            data: rowdata,
                            dataType: 'JSON',
                            success: function (data) {
                                alert(data['message']);
                            },
                            error: function () {
                                alert('编辑失败');
                            },
                            complete: function () {
                            }

                        });
                    }
                });

                function operateFormatter(value, row, index) {
                    return [
                        '<button  type="button" title="删除" class="btn btn-xs btn-danger delete" ><span class="glyphicon glyphicon-trash"></span></button>&nbsp;',
                        '<button  type="button" title="详情" class="btn btn-xs btn-info detailed" data-toggle="modal" data-target="#info' +
                        '-modal"><span class="glyphicon glyphicon-eye-open" ></span></button>&nbsp;'
                    ].join('');
                }

                window.operateEvents = {
                    "click .delete":function () {
                        if(window.confirm('这是不可逆操作，确认删除')){
                            var data={sid:$(this).parent().parent().attr('data-uniqueid')};

                            $(this).parent().parent().remove();
                            $.ajax({
                                url:"{:Url('Stock/stockDelete')}",
                                data:data,
                                type:"POST",
                                dataType:"JSON",
                                success:function (data) {
                                    if(data['status']=="0"){
                                        alert(data['message']);
                                    }else if(data['status']=='1'){
                                        alert(data['message']);
                                    }else if(data['status']=='2'){
                                        alert(data['message']);

                                    }else{
                                        alert(data['message']);
                                    }
                                }
                            });
                        }else {
                            return false;
                        }
                    },
                    "click .detailed":function(){
                        var data={sid:$(this).parent().parent().attr('data-uniqueid')};
                        $.ajax({
                            url:"{:Url('Stock/stockDetailed')}",
                            data:data,
                            type:"POST",
                            dataType:"JSON",
                            success:function (data) {
                                $('#notesDetailed').empty();
                                $.each(data,function (key,value) {
                                    var item="<div class='form-group'><lable class='col-xs-3 control-label'>"
                                            +key+":</lable><div class='col-xs-9'>"
                                            +value+"</div></div>";
                                    $('#notesDetailed').append(item);
                                });
                            }
                        });

                    }
                };
            }
            $(document).ready(function () {
                InitMainTable();
            });
        </script>
    </div>
</content>
<footer>
    {include file="Common:footer"/}
</footer>
</body>
</html>