<nav  class="navbar navbar-inverse " role="navigation" style="height:70px;color: #FFFFFF;margin-bottom: 0px;border-bottom: 1px solid lightgray">
	<!--<nav class="navbar navbar-default " Role="navigation" style="background-color:#FFFFFF;color: #000000; margin-bottom: 0px">-->
	<div class="container-fluid">
	    <div class="navbar-header">
	        <a class="navbar-brand" href="#" style="color: #FFF">
				<p style="font-size:large;"> 易信科技-IDC辅助系统</b></p>
				<p style="font-size:12px;color: lightsalmon">ESIN TEC IDC MANAGE SYSTEM</p>
				<!--<img alt="Brand" src="{$Think.config.app_public_images}/logo.png" style="height: 40px;" >-->
			</a>
	    </div>
	    <div>
            <!--向右对齐-->

	        <ul class="nav navbar-nav navbar-right" style="width:180px;height: 70px;">
				<li style="font-size: 18px;"><a href=""><span class="glyphicon glyphicon-bell"></span><span class="badge">50</span></a></li>
	            <li class="dropdown" style="font-size: 18px;">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                   <span class="glyphicon glyphicon-user"></span> <b class="caret"></b>
	                </a>
	                <ul class="dropdown-menu">
	                    <li><a href="#"><span class="glyphicon  glyphicon-home"></span>网站首页</a></li>
	                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>个人中心</a></li>
	                    <li><a href="#"><span class="glyphicon  glyphicon-refresh"></span>刷新</a></li>
	                    <li class="divider"></li>
	                    <li><a href="{:Url('Users/logout')}"><span class="glyphicon  glyphicon-off"></span>登出</a></li>
	                </ul>
	            </li>

	        </ul>

        </div>
	</div>
</nav>