<head>
    <title>易信科数据中心</title>
    <meta charset="utf-8">
    <link href="{$Think.config.app_public_images}/logo.ico" rel="shortcut icon" />
    <link href="{$Think.config.app_public_css}/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.app_public_css}/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.app_public_css}/bootstrapValidator.min.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.app_public_css}/bootstrap-editable.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.app_public_css}/bootstrap-table.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.app_public_css}/bootstrap-fileinput.min.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.app_public_css}/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.app_public_common_css}/all.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.app_public_common_css}/droupdown-menu.css" rel="stylesheet" type="text/css" />

    <script src="{$Think.config.app_public_js}/jquery-2.1.0.js"></script>
    <script src="{$Think.config.app_public_js}/bootstrap-fileinput.min.js"></script>

    <script src="{$Think.config.app_public_js}/bootstrap.js"></script>
    <script src="{$Think.config.app_public_js}/bootstrap-datetimepicker.min.js"></script>
    <script src="{$Think.config.app_public_js}/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="{$Think.config.app_public_js}/bootstrapValidator.min.js"></script>
    <script src="{$Think.config.app_public_js}/bootstrap-editable.js"></script>
    <script src="{$Think.config.app_public_js}/bootstrap-table.js"></script>
    <script src="{$Think.config.app_public_js}/bootstrap-table-zh-CN.min.js"></script>
    <script src="{$Think.config.app_public_js}/bootstrap-fileinput.zh.js"></script>
    <script src="{$Think.config.app_public_js}/tableExport.min.js"></script>
    <script src="{$Think.config.app_public_js}/bootstrap-select.min.js"></script>

    <script src="{$Think.config.app_public_js}/bootstrap-table-editable.js"></script>
    <script src="{$Think.config.app_public_org}/ckeditor/ckeditor.js"></script>

</head>
