<div class="" style="margin-top: 20px">
    <form class="form-horizontal col-xs-12" role="form">
        <div class="form-group">
            <label  class="col-xs-2 control-label">用户名</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-2 control-label">密码</label>
            <div class="col-xs-6">
                <input type="text" class="form-control"  placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-2 control-label">邮箱</label>
            <div class="col-xs-6">
                <input type="text" class="form-control"  placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-2 control-label">角色</label>
            <div class="col-xs-6">
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 演示账号
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 普通管理员
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 超级管理员
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-6">
                <button type="submit" class="btn btn-primary" style="color: #fff;background-color: #2C3E50;border-color: #2C3E50;">添加</button>
            </div>
        </div>
    </form>
</div>