<div class="" style="margin-top: 20px">
    <div class="well well-lg">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="control-label" for="name">名称</label>
                <input type="text" class="form-control" id="name" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label class="control-label" for="email">邮箱</label>
                <input type="text" class="form-control" id="email" placeholder="请输入邮箱">
            </div>


            <button type="submit" class="btn btn-primary" style="color: #fff;background-color: #2C3E50;border-color: #2C3E50;">搜索</button>
            <button type="submit" class="btn btn-danger" >清空</button>
        </form>
    </div>
    <table class="table table-bordered">

        <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>最后登录IP</th>
            <th>做后登录时间</th>
            <th>邮箱</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tanmay</td>
            <td>Bangalore</td>
            <td>560001</td>
            <td>560001</td>
            <td>560001</td>
            <td>560001</td>
            <td>

                <a href="#">编辑</a>
                <a href="#">删除</a>
                <a href="#">拉黑</a>
            </td>
        </tr>
        <tr>
            <td>Sachin</td>
            <td>Mumbai</td>
            <td>400003</td>
            <td>400003</td>
            <td>400003</td>
            <td>400003</td>
            <td>

                <a href="#">编辑</a>
                <a href="#">删除</a>
                <a href="#">拉黑</a>
            </td>
        </tr>
        <tr>
            <td>Uma</td>
            <td>Pune</td>
            <td>411027</td>
            <td>411027</td>
            <td>411027</td>
            <td>411027</td>
            <td>

                <a href="#">编辑</a>
                <a href="#">删除</a>
                <a href="#">拉黑</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

