<div class="col-xs-12 webinfo">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                系统通知
            </h3>
        </div>
        <div class="panel-body form-horizontal">
            <ul class="list-unstyled">
                <li>
                    <em class="title">QQ讨论</em>
                    <span>群搜索"YAadminCMS"关键字</span>
                </li>
                <li>
                    <em class="title">YAadminCMS</em>
                    <span>常见疑难问题手册，<a href="#">立即查看</a></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                服务器操作
            </h3>
        </div>
        <div class="panel-body form-horizontal">
            <ul class="list-unstyled">
                <li>
                    <em class="title">重启服务器</em>
                    <span><button class="btn btn-xs btn-primary">重启</button></span>
                </li>

            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                系统信息
            </h3>
        </div>
        <div class="panel-body form-horizontal">
            <ul class="list-unstyled">
                <li>
                    <em class="title">操作系统</em>
                    <span><?php echo PHP_OS; ?></span>
                </li>
                <li>
                    <em class="title">运行环境</em>
                    <span><?php echo $_SERVER['SERVER_SOFTWARE']?></span>
                </li>
                <li>
                    <em class="title">PHP版本</em>
                    <span><?php echo PHP_VERSION?></span>
                </li>
                <li>
                    <em class="title">ThinkPHP版本</em>
                    <span><?php echo THINK_VERSION ?></span>
                </li>
                <li>
                    <em class="title">PHP运行方式</em>
                    <span><?php echo php_sapi_name();?></span>
                </li>
                <li>
                    <em class="title">MYSQL版本</em>
                    <span><?php echo mysqli_get_client_info()?></span>
                </li>
                <li>
                    <em class="title">上传附件限制条件</em>
                    <span>10M</span>
                </li>
                <li>
                    <em class="title">执行时间限制</em>
                    <span>30s</span>
                </li>
                <li>
                    <em class="title">剩余空间</em>
                    <span><?php echo (disk_free_space("H:")/(1024*1024*1024)).'GB';?></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                交流方式
            </h3>
        </div>
        <div class="panel-body form-horizontal">
            <ul class="list-unstyled">
                <li>
                    <em class="title">官网</em>
                    <span><a href="www.yadmin.org">www.yadmin.org</a></span>
                </li>
                <li>
                    <em class="title">QQ群</em>
                    <span>166234072</span>
                </li>
                <li>
                    <em class="title">联系邮箱</em>
                    <span>admin@yadmin.org</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                主要贡献者
            </h3>
        </div>
        <div class="panel-body form-horizontal">
            <ul class="list-unstyled">
                <li>
                    <span>JQ</span>
                    <span>花移</span>
                    <span>浮</span>
                    <span>TaurusLee</span>
                    <span>咿呀咿呀呦</span>
                    <span>Me</span>
                    <span>三~少</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                贡献者
            </h3>
        </div>
        <div class="panel-body form-horizontal">
            <ul class="list-unstyled">
                <li>
                    <span>花移</span>
                    <span>浮</span>
                    <span>TaurusLee</span>
                    <span>咿呀咿呀呦</span>
                    <span>Me</span>
                    <span>三~少</span>
                </li>
            </ul>
        </div>
    </div>
</div>


