<head>
    <title>YadminCMS管理后台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link href="{$Think.config.app_public_img}/bitbug_favicon.ico" rel="shortcut icon" />
    <link href="{$Think.config.app_public_css}/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.app_public_css}/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.app_public_common_css}/admin.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.app_public_common_css}/adminleft.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.app_public_common_css}/adminright.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.app_public_common_css}/adminmenu.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.app_public_common_css}/webinfo.css" rel="stylesheet" type="text/css" />

    <link href="{$Think.config.app_public_common_css}/admin-auth-order.css" rel="stylesheet" type="text/css" />

    <link href="{$Think.config.app_public}/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <script src="{$Think.config.app_public_js}/jquery-2.1.0.js"></script>
    <script src="{$Think.config.app_public_js}/bootstrap.js"></script>
    <script src="{$Think.config.app_public_js}/bootstrap-table.js"></script>
    <script src="{$Think.config.app_public_js}/bootstrap-table-zh-CN.min.js"></script>
    <script src="{$Think.config.app_public_ajax}/layout.js"></script>
    <script src="{$Think.config.app_public_js}/toastr.min.js"></script>

</head>