<div class="adminleft" style=" margin-bottom:0px;background-color: #f2f2f2;border:2px solid #e7e7e7;color: #2C3E50;" >
    <div class="panel-group " id="accordion" >
        <div class="panel">
            <div class="panel-heading" style="border: 0px;background-color: #fafafa">
                <h4 class="panel-title" style="text-align: center">
                    <a href="" title="网站首页" class="btn btn-warning btn-xs" style="color: #FFF">
                        <span class="glyphicon glyphicon-Home" ></span>&nbsp;
                    </a>
                    <a href="" title="资源管理" class="btn btn-xs btn-primary" style="color: #FFF">
                        <span class="glyphicon glyphicon-file"></span>&nbsp;
                    </a>
                    <a href="" title="回收站" class="btn btn-xs btn-danger " style="color: #FFF">
                        <span class="glyphicon glyphicon-trash" ></span>&nbsp;
                    </a>
                </h4>
            </div>
        </div>
        <div class="panel adminleftmenu" style="border-top: 0px">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseOne">
                        <span class="glyphicon glyphicon glyphicon-cog"></span>&nbsp;设置
                        <span class="glyphicon glyphicon-chevron-right" style="float: right"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse ">
                <div class="panel-body" style="">
                    <ul class="list-group admin-list-group">
                        <li class="list-group-item"><a href="#webinfo" data-toggle="tab">网站信息</a></li>
                        <li class="list-group-item"><a href="#userinfo" data-toggle="tab">模板管理</a></li>
                        <li class="list-group-item"><a href="#">导航管理</a></li>
                        <li class="list-group-item"><a href="#">幻灯片管理</a></li>
                        <li class="list-group-item"><a href="#">友情链接</a></li>
                        <li class="list-group-item"><a href="#">URL美化</a></li>
                        <li class="list-group-item"><a href="#">上传设置</a></li>
                        <li class="list-group-item"><a href="#">文件存储</a></li>
                        <li class="list-group-item"><a href="javascript:void(0)" onclick="showContent();">用户操作管理</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;用户管理
                        <span class="glyphicon glyphicon-chevron-right" style="float: right"></span>
                        <!--点击<span class="glyphicon glyphicon-chevron-right"style="float: right;font: 12px;"></span>-->
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body" >
                    <ul class="list-group admin-list-group">
                        <li class="list-group-item"><a href="#" data-toggle="tab">角色管理</a></li>
                        <li class="list-group-item"><a href="#" data-toggle="tab">管理员</a></li>
                        <li class="list-group-item"><a href="#" data-toggle="tab">本站用户</a></li>
                        <li class="list-group-item"><a href="#" data-toggle="tab">第三方用户</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseFive">
                        <span class="glyphicon glyphicon-cloud"></span>&nbsp;插件中心
                        <span class="glyphicon glyphicon-chevron-right" style="float: right"></span>
                        <!--点击<span class="glyphicon glyphicon-chevron-right"style="float: right;font: 12px;"></span>-->
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group admin-list-group">
                        <li class="list-group-item"><a href="#">钩子管理</a></li>
                        <li class="list-group-item"><a href="#">插件列表</a></li>
                        <li class="list-group-item"><a href="#">演示插件</a></li>
                        <li class="list-group-item"><a href="#">小程序管理</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree">
                        <span class="glyphicon glyphicon-th"></span>&nbsp;门户管理
                        <span class="glyphicon glyphicon-chevron-right" style="float: right"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group admin-list-group">
                        <li class="list-group-item"><a href="#">文章管理</a></li>
                        <li class="list-group-item"><a href="#">分类管理</a></li>
                        <li class="list-group-item"><a href="#">页面管理</a></li>
                        <li class="list-group-item"><a href="#">文章标签</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>