<div style="margin-top: 20px">
    <form class="form-horizontal col-xs-12" role="form">
        <div class="form-group">
            <label  class="col-xs-2 control-label">SEO标题</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-2 control-label">SEO关键字</label>
            <div class="col-xs-6">
                <input type="text" class="form-control"  placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-2 control-label">SEO描述</label>
            <div class="col-xs-6">
                <input type="text" class="form-control"  placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-6">
                <button type="submit" class="btn btn-primary" style="color: #fff;background-color: #2C3E50;border-color: #2C3E50;">保存</button>
            </div>
        </div>
    </form>
</div>