<div class="" style="margin-top: 20px">
    <form class="form-horizontal col-xs-12" role="form">
        <div class="form-group">
            <label  class="col-xs-2 control-label">*网站名称</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-2 control-label">后台加密密码</label>
            <div class="col-xs-6">
                <input type="text" class="form-control"  placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-2 control-label">后台风格</label>
            <div class="col-xs-6">
                <input type="text" class="form-control"  placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-2 control-label">备案信息</label>
            <div class="col-xs-6">
                <input type="text" class="form-control"  placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-2 control-label">站长邮箱</label>
            <div class="col-xs-6">
                <input type="text" class="form-control"  placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-xs-2 control-label">统计代码</label>
            <div class="col-xs-6">
                <input type="text" class="form-control"  placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-6">
                <button type="submit" class="btn btn-primary" style="color: #fff;background-color: #2C3E50;border-color: #2C3E50;">保存</button>
            </div>
        </div>
    </form>
</div>