<html>
    {include file="Common:head"}
<body>
	<div  class="container-fluid">
		<div class="row" style="width: 100%">
			<div class="row ">
				{include file="Common:nav"}
			</div>
			<div class="row">
				<div class="col-xs-2">
					<div class="row">
						{include  file="Common:leftmenu"}
					</div>
				</div>
				<div class="col-xs-10">
					<div class="row">
						<div class="adminright">
							{include file="Main:default"}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>
