<html>
    {include file="Common:head"}
<body>
	<div  class="container-fluid">
		<div class="row" style="width: 100%">
			<div class="row ">
				{include file="Common:nav"}
			</div>
			<div class="row">
				<div class="col-xs-2">
					<div class="row">
						{include  file="Common:leftmenu"}
					</div>
				</div>
				<div class="col-xs-10">
					<div class="row">
						<div class="col-xs-12">
							<div class="adminright tab-content" style="">
								<div class="tab-pane fade in active">
									{include file="Main:default"}
								</div>
								<div class="tab-pane fade" id="">
									{include file="Site:index"}
								</div>
								<div class="tab-pane fade" id="webinfo">
									{include file="Site:index"}
								</div>
								<div class="tab-pane fade" id="templet">
									{include file="Site:index"}
								</div>
								<div class="tab-pane fade" id="nav">
									{include file="Site:index"}
								</div>
								<div class="tab-pane fade" id="slide">
									{include file="Site:index"}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>
